:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/

  color: #213547;
  background-color: #ffffff;

  text-rendering: optimizeLegibility;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;*/
}




h1 {
  font-size: 1.4em;
  font-family: sans-serif;
  line-height: 1.1;
}

h2, h3 {
  font-family: sans-serif;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;

}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
}

.printonly {
  display: none;
}

@media print {
  .noprint { display: none; }
  .printonly {display: block; }

}